<a href="https://colab.research.google.com/github/sagihaider/Biogas_Prediction/blob/master/main_Biogas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!git clone https://github.com/sagihaider/Biogas_Prediction.git

Cloning into 'Biogas_Prediction'...
remote: Enumerating objects: 21, done.
remote: Counting objects: 100% (21/21), done.
remote: Compressing objects: 100% (18/18), done.
remote: Total 21 (delta 5), reused 0 (delta 0), pack-reused 0
Unpacking objects: 100% (21/21), done.

In [2]:
import numpy as np
import pandas as pd

In [3]:
df=pd.read_excel('/content/Biogas_Prediction/Data/Gasification Data_Daya.xlsx', index_col=None, header=None)
df1 = df.iloc[1:223,1:15] 
df1

        1     2      3     4   ...       11       12       13        14
1       50   5.7   44.1  23.5  ...  36.1757  34.8837  7.75194       2.3
2       50   5.7   44.1    21  ...  31.1751  35.9712  6.47482       2.5
3       50   5.7   44.1    23  ...  29.8507  35.8209  7.16418       2.5
4       50   5.7   44.1    22  ...  31.1751  35.9712  6.47482       2.1
5       50   5.7   44.1    25  ...  31.1751  35.9712  6.47482       2.4
..     ...   ...    ...   ...  ...      ...      ...      ...       ...
218  46.85   6.3  45.55     9  ...  35.1087  30.5865   10.465  0.858789
219  46.85   6.3  45.55     9  ...  33.3062  32.8614  9.70615  0.947532
220  46.85   6.3  45.55     9  ...  33.7895  35.4904  9.45507  0.975752
221  46.76  5.68  39.46  9.94  ...  31.9511  32.7829  9.93368  0.971784
222  46.76  5.68  39.46  9.94  ...  29.1236  34.4266   8.7784  0.982989

[222 rows x 14 columns]

In [18]:
print(df1.isnull().values.any())
print(df1.isna().values.any())

True
True

In [16]:
df2=df1.dropna()
df2

        1     2      3     4   ...       11       12       13        14
1       50   5.7   44.1  23.5  ...  36.1757  34.8837  7.75194       2.3
2       50   5.7   44.1    21  ...  31.1751  35.9712  6.47482       2.5
3       50   5.7   44.1    23  ...  29.8507  35.8209  7.16418       2.5
4       50   5.7   44.1    22  ...  31.1751  35.9712  6.47482       2.1
5       50   5.7   44.1    25  ...  31.1751  35.9712  6.47482       2.4
..     ...   ...    ...   ...  ...      ...      ...      ...       ...
218  46.85   6.3  45.55     9  ...  35.1087  30.5865   10.465  0.858789
219  46.85   6.3  45.55     9  ...  33.3062  32.8614  9.70615  0.947532
220  46.85   6.3  45.55     9  ...  33.7895  35.4904  9.45507  0.975752
221  46.76  5.68  39.46  9.94  ...  31.9511  32.7829  9.93368  0.971784
222  46.76  5.68  39.46  9.94  ...  29.1236  34.4266   8.7784  0.982989

[187 rows x 14 columns]

In [19]:
print(df2.isnull().values.any())
print(df2.isna().values.any())

False
False

In [20]:
X= df2.iloc[0:187,0:9]
y = df2.iloc[0:187,9:14]

In [21]:
print(X.isnull().values.any())
print(y.isnull().values.any())

False
False

In [22]:
X=X.to_numpy()
y=y.to_numpy()

In [23]:
from numpy import asarray
from sklearn.datasets import make_regression
from sklearn.model_selection import train_test_split
from keras.models import Sequential
from keras.layers import Dense

In [24]:
# get the model
def get_model(n_inputs, n_outputs):
  model = Sequential()
  model.add(Dense(20, input_dim=n_inputs, kernel_initializer='he_uniform', activation='relu'))
  model.add(Dense(n_outputs, kernel_initializer='he_uniform'))
  model.compile(loss='mae', optimizer='adam')
  model.summary()
  return model

In [25]:
X = np.asarray(X).astype('float32')
y = np.asarray(y).astype('float32')

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=42)


n_inputs, n_outputs = X.shape[1], y.shape[1]
# get model
model = get_model(n_inputs, n_outputs)
# fit the model on all data
# model.fit(X, y, verbose=0, epochs=100)
history = model.fit(X_train, y_train, epochs=100, batch_size=64, validation_data=(X_test, y_test), verbose=0)

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 20)                200
_________________________________________________________________
dense_1 (Dense)              (None, 5)                 105
=================================================================
Total params: 305
Trainable params: 305
Non-trainable params: 0
_________________________________________________________________

In [26]:
yhat = model.predict(X_test)
# mae = model.evaluate(X_test, y_test, verbose=0)
y_test

array([[19.001068  , 31.951086  , 32.782913  ,  9.933682  ,  0.97178423],
       [26.912182  ,  6.7988667 , 27.195467  , 25.779037  ,  3.3522265 ],
       [25.518673  , 30.082987  , 38.174274  ,  6.2240663 ,  2.31      ],
       [ 9.248712  , 41.03607   , 40.195282  ,  5.424464  ,  1.8666167 ],
       [14.06      , 33.25      , 40.99      ,  7.85      ,  1.86      ],
       [39.42      , 33.35      , 19.25      ,  6.13      ,  2.7652087 ],
       [17.611874  , 33.052727  , 43.15463   ,  6.180771  ,  2.0941179 ],
       [15.5       , 31.6       , 38.1       ,  8.4       ,  2.0985508 ],
       [28.915663  , 20.72289   , 36.626507  ,  6.506024  ,  2.6       ],
       [25.5       , 35.1       , 30.3       ,  7.8       ,  2.6253    ],
       [13.9       , 27.64      , 45.79      ,  8.07      ,  2.        ],
       [21.311476  , 29.781422  , 37.704918  , 11.202186  ,  2.1626704 ],
       [13.43      , 34.65      , 38.49      ,  8.83      ,  2.14      ],
       [28.056112  , 30.06012   , 32.46493   ,  9.418838  ,  1.8555417 ],
       [24.421053  , 30.947369  , 38.736843  ,  5.894737  ,  1.96      ],
       [32.11      , 37.92      , 17.75      ,  7.79      ,  2.3280215 ],
       [14.96      , 33.61      , 38.18      ,  8.47      ,  2.35      ],
       [23.4       , 33.7       , 35.2       ,  7.7       ,  2.2794    ],
       [55.395683  , 34.17266   ,  2.877698  ,  5.755396  ,  4.8582993 ],
       [30.98      , 39.6       , 18.03      ,  7.24      ,  2.38267   ],
       [24.        , 28.        , 36.        , 12.        ,  1.4916222 ],
       [25.255102  , 19.642857  , 37.7551    ,  7.142857  ,  2.4       ],
       [17.272728  , 32.727272  , 24.545454  ,  8.181818  ,  2.1       ],
       [19.87      , 36.63      , 29.73      ,  9.81      ,  1.090383  ],
       [32.22      , 37.7       , 18.71      ,  7.76      ,  2.4373183 ],
       [26.311728  , 26.793982  , 32.46528   , 10.204475  ,  1.9       ],
       [16.642336  , 28.223845  , 40.778587  ,  8.442822  ,  2.3660264 ],
       [ 9.217102  , 36.09106   , 46.141033  ,  5.3026094 ,  2.1537886 ],
       [ 9.047365  , 38.398083  , 43.799892  ,  5.32198   ,  2.455319  ],
       [14.58      , 32.44      , 41.26      ,  8.01      ,  2.3       ],
       [31.41      , 39.96      , 16.47      ,  7.59      ,  2.5138261 ],
       [25.        , 31.4       , 34.2       ,  9.4       ,  2.2179    ],
       [29.600798  , 31.437126  , 33.153694  ,  5.8083835 ,  2.1529415 ],
       [16.023739  , 36.39254   , 40.589233  ,  6.994489  ,  1.927024  ],
       [24.884048  , 40.25005   , 28.332325  ,  6.5335755 ,  2.3261118 ],
       [25.440313  , 34.83366   , 28.180038  , 11.545988  ,  1.7470373 ],
       [16.71388   , 21.529745  , 37.96034   , 18.696884  ,  3.043112  ],
       [20.2       , 31.92      , 33.19      ,  9.84      ,  1.0579954 ]],
      dtype=float32)

In [29]:
from sklearn.metrics import mean_squared_error
mean_squared_error(y_test, yhat, multioutput='raw_values')

array([110.967606,  55.209686,  84.64771 ,  40.286823, 174.8726  ],
      dtype=float32)