<a href="https://colab.research.google.com/github/sagihaider/Biogas_Prediction/blob/master/main_Biogas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [11]:
!git clone https://github.com/sagihaider/Biogas_Prediction.git

fatal: destination path 'Biogas_Prediction' already exists and is not an empty directory.

In [ ]:
import numpy as np
import pandas as pd

In [12]:
df=pd.read_excel('/content/Biogas_Prediction/Data/Gasification Data_Daya.xlsx', index_col=None, header=None)

In [13]:
df1 = df.iloc[1:223,1:15]

In [14]:
df1

        1     2      3     4   ...       11       12       13        14
1       50   5.7   44.1  23.5  ...  36.1757  34.8837  7.75194       2.3
2       50   5.7   44.1    21  ...  31.1751  35.9712  6.47482       2.5
3       50   5.7   44.1    23  ...  29.8507  35.8209  7.16418       2.5
4       50   5.7   44.1    22  ...  31.1751  35.9712  6.47482       2.1
5       50   5.7   44.1    25  ...  31.1751  35.9712  6.47482       2.4
..     ...   ...    ...   ...  ...      ...      ...      ...       ...
218  46.85   6.3  45.55     9  ...  35.1087  30.5865   10.465  0.858789
219  46.85   6.3  45.55     9  ...  33.3062  32.8614  9.70615  0.947532
220  46.85   6.3  45.55     9  ...  33.7895  35.4904  9.45507  0.975752
221  46.76  5.68  39.46  9.94  ...  31.9511  32.7829  9.93368  0.971784
222  46.76  5.68  39.46  9.94  ...  29.1236  34.4266   8.7784  0.982989

[222 rows x 14 columns]

In [38]:
df1

        1     2      3     4   ...       11       12       13        14
1       50   5.7   44.1  23.5  ...  36.1757  34.8837  7.75194       2.3
2       50   5.7   44.1    21  ...  31.1751  35.9712  6.47482       2.5
3       50   5.7   44.1    23  ...  29.8507  35.8209  7.16418       2.5
4       50   5.7   44.1    22  ...  31.1751  35.9712  6.47482       2.1
5       50   5.7   44.1    25  ...  31.1751  35.9712  6.47482       2.4
..     ...   ...    ...   ...  ...      ...      ...      ...       ...
218  46.85   6.3  45.55     9  ...  35.1087  30.5865   10.465  0.858789
219  46.85   6.3  45.55     9  ...  33.3062  32.8614  9.70615  0.947532
220  46.85   6.3  45.55     9  ...  33.7895  35.4904  9.45507  0.975752
221  46.76  5.68  39.46  9.94  ...  31.9511  32.7829  9.93368  0.971784
222  46.76  5.68  39.46  9.94  ...  29.1236  34.4266   8.7784  0.982989

[222 rows x 14 columns]

In [53]:
X= df1.iloc[0:221,0:9]
y = df1.iloc[0:221,9:14]
y.isnull().values.any()
y.isna().values.any()

True

In [41]:
X=X.to_numpy()
y=y.to_numpy()

In [42]:
from numpy import asarray
from sklearn.datasets import make_regression
from sklearn.model_selection import train_test_split
from keras.models import Sequential
from keras.layers import Dense

In [43]:
# get the model
def get_model(n_inputs, n_outputs):
  model = Sequential()
  model.add(Dense(20, input_dim=n_inputs, kernel_initializer='he_uniform', activation='relu'))
  model.add(Dense(n_outputs, kernel_initializer='he_uniform'))
  model.compile(loss='mae', optimizer='adam')
  model.summary()
  return model

In [44]:
X = np.asarray(X).astype('float32')
y = np.asarray(y).astype('float32')

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=42)


n_inputs, n_outputs = X.shape[1], y.shape[1]
# get model
model = get_model(n_inputs, n_outputs)
# fit the model on all data
# model.fit(X, y, verbose=0, epochs=100)
history = model.fit(X_train, y_train, epochs=100, batch_size=64, validation_data=(X_test, y_test), verbose=0)

Model: "sequential_3"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_6 (Dense)              (None, 20)                200
_________________________________________________________________
dense_7 (Dense)              (None, 5)                 105
=================================================================
Total params: 305
Trainable params: 305
Non-trainable params: 0
_________________________________________________________________

In [45]:
yhat = model.predict(X_test)
# mae = model.evaluate(X_test, y_test, verbose=0)
y_test

array([[ 9.767442 , 38.63049  , 41.937984 ,  6.124031 ,  2.4840362],
       [19.87     , 36.63     , 29.73     ,  9.81     ,  1.090383 ],
       [25.       , 15.406977 , 28.488373 , 21.22093  ,  3.8693535],
       [23.4      , 33.7      , 35.2      ,  7.7      ,  2.2794   ],
       [39.42     , 33.35     , 19.25     ,  6.13     ,  2.7652087],
       [12.749004 , 17.131474 , 56.1753   ,  3.9840639,  2.9      ],
       [ 7.5856166, 21.267124 , 18.681507 ,  6.14726  ,        nan],
       [21.34364  , 37.594135 , 33.234245 ,  7.8279824,        nan],
       [17.611874 , 33.052727 , 43.15463  ,  6.180771 ,  2.0941179],
       [21.54     , 31.29     , 34.59     ,  9.76     ,  0.9392408],
       [25.432098 , 22.222221 , 33.580246 ,  8.148149 ,  2.8      ],
       [28.056112 , 30.06012  , 32.46493  ,  9.418838 ,  1.8555417],
       [21.387175 , 37.14713  , 28.192186 , 13.273509 ,        nan],
       [16.642336 , 28.223845 , 40.778587 ,  8.442822 ,  2.3660264],
       [20.242998 , 38.714993 , 34.452225 ,  6.589786 ,  2.1892817],
       [15.762349 , 33.789486 , 35.490356 ,  9.455065 ,  0.9757524],
       [25.       , 31.4      , 34.2      ,  9.4      ,  2.2179   ],
       [31.41     , 39.96     , 16.47     ,  7.59     ,  2.5138261],
       [21.172775 , 33.089005 , 35.14136  , 10.596859 ,        nan],
       [16.023739 , 36.39254  , 40.589233 ,  6.994489 ,  1.927024 ],
       [20.821918 , 34.85323  , 31.48728  , 12.837573 ,        nan],
       [20.101782 , 27.735369 , 35.87786  , 12.468193 ,  3.0915253],
       [19.8      , 16.4      , 15.9      ,  4.9      ,        nan],
       [31.86     , 37.42     , 19.62     ,  7.48     ,  2.1312873],
       [26.666666 , 20.       , 37.77778  , 15.555555 ,  1.5977738],
       [20.364803 , 35.939068 , 33.092804 , 10.603328 ,        nan],
       [16.71388  , 21.529745 , 37.96034  , 18.696884 ,  3.043112 ],
       [32.11     , 37.92     , 17.75     ,  7.79     ,  2.3280215],
       [20.192308 , 23.798077 , 36.53846  , 19.471153 ,  2.4912157],
       [15.5      , 31.6      , 38.1      ,  8.4      ,  2.0985508],
       [31.357553 , 24.091778 , 24.856596 , 10.898662 ,  2.       ],
       [25.518673 , 30.082987 , 38.174274 ,  6.2240663,  2.31     ],
       [28.605202 , 23.87707  , 30.969267 ,  7.8014183,  2.6      ],
       [20.85373  , 37.066772 , 30.135109 , 11.94439  ,        nan],
       [15.374841 , 38.068615 , 38.88183  ,  7.674714 ,  1.5411767],
       [25.063938 , 18.414322 , 36.317135 ,  9.462915 ,  1.9      ],
       [54.826958 , 33.515484 ,  2.9143898,  6.1930785,  4.2190495],
       [ 9.217102 , 36.09106  , 46.141033 ,  5.3026094,  2.1537886],
       [20.27     , 30.61     , 34.73     , 10.18     ,  0.9608326],
       [26.098902 , 20.604395 , 36.263737 ,  7.142857 ,  2.8      ],
       [55.113636 , 39.583332 ,  2.2727273,  2.840909 ,  6.2626514],
       [17.95692  , 33.525272 , 35.956493 , 12.561314 ,        nan],
       [33.54978  , 22.510822 , 30.51948  ,  6.926407 ,  2.8      ],
       [22.39819  , 26.244345 , 32.35294  , 14.253394 ,  2.7556043],
       [25.3125   ,  6.875    , 32.5      , 22.1875   ,  4.395604 ]],
      dtype=float32)

In [28]:
from sklearn.metrics import mean_squared_error
mean_squared_error(y_test, yhat)

ValueError: ignored