<a href="https://colab.research.google.com/github/sagihaider/Biogas_Prediction/blob/master/main_Biogas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!git clone https://github.com/sagihaider/Biogas_Prediction.git

Cloning into 'Biogas_Prediction'...
remote: Enumerating objects: 15, done.
remote: Counting objects: 100% (15/15), done.
remote: Compressing objects: 100% (12/12), done.
remote: Total 15 (delta 1), reused 0 (delta 0), pack-reused 0
Unpacking objects: 100% (15/15), done.

In [2]:
import numpy as np
import pandas as pd

In [3]:
df=pd.read_excel('/content/Biogas_Prediction/Data/Gasification Data_Daya.xlsx', index_col=None, header=None)

In [4]:
df1 = df.iloc[1:223,1:15]

In [5]:
df1

        1     2      3     4   ...       11       12       13        14
1       50   5.7   44.1  23.5  ...  36.1757  34.8837  7.75194       2.3
2       50   5.7   44.1    21  ...  31.1751  35.9712  6.47482       2.5
3       50   5.7   44.1    23  ...  29.8507  35.8209  7.16418       2.5
4       50   5.7   44.1    22  ...  31.1751  35.9712  6.47482       2.1
5       50   5.7   44.1    25  ...  31.1751  35.9712  6.47482       2.4
..     ...   ...    ...   ...  ...      ...      ...      ...       ...
218  46.85   6.3  45.55     9  ...  35.1087  30.5865   10.465  0.858789
219  46.85   6.3  45.55     9  ...  33.3062  32.8614  9.70615  0.947532
220  46.85   6.3  45.55     9  ...  33.7895  35.4904  9.45507  0.975752
221  46.76  5.68  39.46  9.94  ...  31.9511  32.7829  9.93368  0.971784
222  46.76  5.68  39.46  9.94  ...  29.1236  34.4266   8.7784  0.982989

[222 rows x 14 columns]

In [6]:
X= df1.iloc[0:221,0:9]
y = df1.iloc[0:221,9:14]

In [7]:
X=X.to_numpy()
y=y.to_numpy()

In [8]:
from numpy import asarray
from sklearn.datasets import make_regression
from keras.models import Sequential
from keras.layers import Dense

In [9]:
# get the model
def get_model(n_inputs, n_outputs):
  model = Sequential()
  model.add(Dense(20, input_dim=n_inputs, kernel_initializer='he_uniform', activation='relu'))
  model.add(Dense(n_outputs, kernel_initializer='he_uniform'))
  model.compile(loss='mae', optimizer='adam')
  model.summary()
  return model

In [14]:
X = np.asarray(X).astype('float32')
y = np.asarray(y).astype('float32')

n_inputs, n_outputs = X.shape[1], y.shape[1]
# get model
model = get_model(n_inputs, n_outputs)
# fit the model on all data
model.fit(X, y, verbose=0, epochs=100)

Model: "sequential_4"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_8 (Dense)              (None, 20)                200
_________________________________________________________________
dense_9 (Dense)              (None, 5)                 105
=================================================================
Total params: 305
Trainable params: 305
Non-trainable params: 0
_________________________________________________________________